.App {
  background-image: url("C:\\Users\\Lionwood\\Desktop\\smart architect\\smartarchitect_front\\src\\Images\\back.gif");
  background-size: cover;
  background-position: center; 
  height: 100vh;
  display: flex; 
  justify-content: center;
  align-items: center; 
}
