.UploadImagesArea{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50vh; 

}
.FirstImageBox{
    border: 3px dashed #FFFFFF;
    width: 35%; 
    height: 40vh; 
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 35px;
    color: #FFFFFF;
    font-family: 'Abhaya Libre';
    text-shadow: 
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;

}
.SecondImageBox{
    border: 3px dashed #FFFFFF;
    width: 35%; 
    height: 40vh; 
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 35px;
    color: #FFFFFF;
    font-family: 'Abhaya Libre';
    text-shadow: 
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
.UploadPhoto {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-bottom: 4%;
}
.UploadPhoto img {
    width: 130px; 
}
.BeforeConstructorArea{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    display: none;
    margin-top: 5%;
    margin-left: 8%;
    width: 85%;
    height: 100px;
}
.FirstImageBoxUploaded{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 5px;
    width: 40%;
    height: 60%;
    top: 10%;
    margin-left: 2%;
}
.SecondImageBoxUploaded{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 5px;

    height: 100%;
    top: 10%;
}
.UploadedImageConstructor{
    width: auto; 
    height: auto;
    max-height: 50vh;
    border: 3px dashed #FFFFFF;
}
.TryAgainButton{
    background-color: transparent;
    color: white;
    border: 2px solid #FFF;
    font-family: 'Abhaya Libre';
    font-size: 2.2em; 
}
.ConstructorArea{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    display: none;
    margin-top: 5%;
    margin-left: 8%;
    width: 85%;
    height: 100px;
}
.CroppedImage{
    max-width: 100%;
    max-height: 100%;
}