@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Itim&family=Luckiest+Guy&family=Metal&display=swap');

.FooterArea{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.SimpleFooter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    color: white;
    font-family: 'Luckiest Guy';
    font-size: 1.3rem;
    margin-top: 40%;
}


.Footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    color: white;
    font-family: 'Luckiest Guy';
    font-size: 1.3rem;
    margin-top: 40%;
}
