@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Itim&family=Metal&display=swap');

.RegisterArea{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: 'Abhaya Libre';
    height: 70vh;
}
.SignUpText{
    color: white;
    font-size: 3rem;
    margin-bottom: 4%;
}
.EmailBox{
    display: flex;
    border: 2px solid #000;
    border-radius: 20px;
    width: 20%;
    height: 10%;
    font-size: 1.6rem;
    background-color: white;
}
.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
.UserImage{
    width: 13%;
    height: 80%;
    margin-top: 2%;
    margin-left: 1%;
    margin-right: 2%;
}
.EmailInput{
    background-color: transparent;
    font-family: 'Abhaya Libre';
    border-color: transparent;
    font-size: 1.6rem;
    border-radius: 15px;
    border: none;
    outline: none;
    width: 100%;
}
.PasswordBox{
    display: flex;
    border: 2px solid #000;
    border-radius: 20px;
    margin-top: 2%;
    width: 20%;
    height: 10%;
    font-size: 1.6rem;
    background-color: white;
}
.PasswordInput{
    background-color: transparent;
    font-family: 'Abhaya Libre';
    border-color: transparent;
    font-size: 1.6rem;
    border: none;
    outline: none;
    width: 100%;
    border-radius: 15px;
}
.ConfirmPasswordBox{
    display: flex;
    border: 2px solid #000;
    border-radius: 20px;
    margin-top: 2%;
    width: 20%;
    height: 10%;
    font-size: 1.6rem;
    background-color: white;
}
.SignButtonArea{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    margin-top: 2%;
}
.RegisterButton{
    height: 90%;
    width: 10%;
    border-radius: 7px;
    font-size: 1.6rem;
    font-family: 'Abhaya Libre';
}
.AccountArea{
    font-family: 'Abhaya Libre';
    color: white;
    font-size: 2rem;
    margin-top: 5%;
}
.LoginText{
    text-decoration: underline;
}